<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
">


	<!-- 配置数据源 -->
<!-- 	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
		</property>
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=pgms">
		</property>
		<property name="username" value="sa"></property>
		<property name="password" value="123456"></property>
	</bean> -->
	
	<!-- dbcp数据源 -->
	 <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver"></property>
		<property name="url" value="jdbc:jtds:sqlserver://127.0.0.1:1433/pgms"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="123456"></property>
	</bean> 
	
	

	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.sgm.domain.TmInformation</value>
				<value>com.sgm.domain.TmTestspecification</value>
				<value>com.sgm.domain.TmDevicemanagement</value>
				<value>com.sgm.domain.TmOilprices</value>
				<value>com.sgm.domain.TmPricemanage</value>
				<value>com.sgm.domain.TsActionPermission</value>
				<value>com.sgm.domain.TsDepartment</value>
				<value>com.sgm.domain.TmAccesscontrolsettings</value>
				<value>com.sgm.domain.TsDictionary</value>
				<value>com.sgm.domain.TmEnterprisescustomers</value>
				<value>com.sgm.domain.TsDiccategoryd</value>
				<value>com.sgm.domain.TsRole</value>
				<value>com.sgm.domain.TsUser</value>
				<value>com.sgm.domain.TsMenuPermission</value>
				<value>com.sgm.domain.TmProjectinfo</value>
				<value>com.sgm.domain.TmRoadinfomation</value>
				<value>com.sgm.domain.TsActionLogs</value>
			</list>
		</property>
	</bean>

	<!-- 配置一个事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 配置事务，使用代理的方式 -->
	<!--  <bean id="transactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="modify*">PROPAGATION_REQUIRED,-myException</prop>
				<prop key="del*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>  -->
</beans>